
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

    

.heading{
    padding-left:30vh;
    padding-bottom: 2rem;
    padding-top:10px;
}
